@model Proje008.Models.Projeler

@{
    Layout = "_LayoutAdmin";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detay</title>
</head>
<body>

    <div>
        <h4>Projeler</h4>
        <hr />
        <table class="table table-bordered table-striped">
            <thead>
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.ResimYolu)</th>
                    <td>
                        <div class="gallerycontainer">
                            <a class="thumbnail" href="#thumb"><img src="@("~/ProjelerResimleri/"+Model.ResimYolu)" asp-append-version="true" width="100" height="66" border="0" /><span><img src="@("~/ProjelerResimleri/"+Model.ResimYolu)" asp-append-version="true" /><br />@*@Model*@</span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.ResimYolu)</th>
                    <td>
                        <div class="gallerycontainer">
                            <a class="thumbnail" href="#thumb"><img src="@("~/ProjelerResimleri/"+Model.ResimYolu1)" asp-append-version="true" width="100" height="66" border="0" /><span><img src="@("~/ProjelerResimleri/"+Model.ResimYolu1)" asp-append-version="true" /><br />@*@Model*@</span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.ResimYolu)</th>
                    <td>
                        <div class="gallerycontainer">
                            <a class="thumbnail" href="#thumb"><img src="@("~/ProjelerResimleri/"+Model.ResimYolu2)" asp-append-version="true" width="100" height="66" border="0" /><span><img src="@("~/ProjelerResimleri/"+Model.ResimYolu2)" asp-append-version="true" /><br />@*@Model*@</span></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Baslik1)</th>
                    <td>@Html.DisplayFor(modelItem => Model.Baslik1)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Aciklama)</th>
                    <td>@Html.DisplayFor(modelItem => Model.Aciklama)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Yer)</th>
                    <td>@Html.DisplayFor(modelItem => Model.Yer)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Kategori)</th>
                    <td>@Html.DisplayFor(modelItem => Model.Kategori)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.KategoriYili)</th>
                    <td>@Html.DisplayFor(modelItem => Model.KategoriYili)</td>
                </tr>
            <td>

                <a asp-action="Edit" asp-route-id="@Model.Id">Değiştir</a> |
                <a asp-action="Index">Geri Dön</a>
            </td>

        </table>
</body>
</html>


