@model IEnumerable<Proje008.Models.Anasayfa>


@{
    ViewData["Title"] = "Home Page";
}

<body>


    @foreach (var item in Model)
    {
        <div id="main-slider" class="dl-slider">

            <div class="single-slide">
                @*<div class="bg-img kenburns-top-right" style="  background-image: url(/indico-construction-building-html-template/img/slider-4.jpg);"></div>*@
                <div class="bg-img kenburns-top-right" style="background-image:url()"><img class="img-center" src="@("~/AnasayfaResimleri/" + item.ResimYolu)" alt="..." asp-append-version="true" /></div>

                <div class="overlay"></div>
                <div class="slider-content-wrap d-flex align-items-center text-left">
                    <div class="container">
                        <div class="slider-content">

                            <div class="dl-caption big">
                                <div class="inner-layer"><div data-animation="fade-in-left" data-delay="2s">@item.AnasayfaBaslik</div></div>
                            </div>

                            <div class="dl-caption small"><div class="inner-layer"><div data-animation="fade-in-left" data-delay="2.5s"><br>@item.AnasayfaAciklama</div></div></div>
                            <div class="dl-btn-group">
                                <div class="inner-layer">
                                    <a asp-action="Projeler" class="dl-btn" data-animation="fade-in-left" data-delay="3s">Diğer Projeler <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="bg-img kenburns-top-right" style="background-image:url()"><img class="img-center" src="@("~/AnasayfaResimleri/" + item.ResimYolu1)" alt="..." asp-append-version="true" /></div>
                <div class="overlay"></div>
                <div class="slider-content-wrap d-flex align-items-center text-center">
                    <div class="container">
                        <div class="slider-content">

                            <div class="dl-caption big">
                                <div class="inner-layer"><div data-animation="fade-in-bottom" data-delay="1s">@item.AnasayfaBaslik</div></div>
                            </div>

                            <div class="dl-caption small"><div class="inner-layer"><div data-animation="fade-in-bottom" data-delay="2s"> <br>@item.AnasayfaAciklama</div></div></div>
                            <div class="dl-btn-group">
                                <div class="inner-layer">
                                    <a href="#" class="dl-btn" data-animation="fade-in-bottom" data-delay="3.5s">Diğer Projeler <i class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slide">
                <div class="bg-img kenburns-top-right" style="background-image:url()"><img class="img-center" src="@("~/AnasayfaResimleri/" + item.ResimYolu2)" alt="..." asp-append-version="true" /></div>
                <div class="overlay"></div>
                <div class="slider-content-wrap d-flex align-items-center text-right">
                    <div class="container">
                        <div class="dl-caption big">
                            <div class="inner-layer"><div data-animation="fade-in-right" data-delay="1s">@item.AnasayfaBaslik</div></div>
                        </div>

                        <div class="dl-caption small"><div class="inner-layer"><div data-animation="fade-in-right" data-delay="2s">@item.AnasayfaAciklama</div></div></div>
                        <div class="dl-btn-group">
                            <div class="inner-layer">
                                <a href="#" class="dl-btn" data-animation="fade-in-right" data-delay="3.5s">Diğer Projeler<i class="arrow_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <section class="about-section padding">
            <div class="container">
                <div class="row about-wrap">
                    <div class="col-lg-6 sm-padding">
                        <div class="about-content wow fadeInLeft">
                            <h2>@item.AnasayfaBaslik2</h2>
                            <p>@item.AnasayfaAciklama2</p>
                            <a asp-action="Hakkımızda" class="default-btn">Daha Fazla..</a>
                        </div>
                    </div>
                    <div class="col-lg-6 sm-padding">
                        <ul class="about-promo">
                            <li class="about-promo-item wow fadeInUp">
                                <i><img class="img-center" src="@("~/AnasayfaResimleri/" + item.ResimYolu3)" alt="..." asp-append-version="true" /></i>
                                <div>
                                    <h3>@item.AnasayfaBaslik3</h3>
                                    <p>@item.AnasayfaAciklama3</p>
                                </div>
                            </li>
                            <li class="about-promo-item wow fadeInUp" data-wow-delay="300ms">
                                <i>  <i><img class="img-center" src="@("~/AnasayfaResimleri/" + item.ResimYolu4)" alt="..." asp-append-version="true" /></i></i>
                                <div>
                                    <h3>@item.AnasayfaBaslik4</h3>
                                    <p>@item.AnasayfaAciklama4</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    }


    @foreach (var item in Model)
    {



        @await Component.InvokeAsync("HizmetlerList")
        @await Component.InvokeAsync("NeSöylüyorList")

    }



</body> 