@model IEnumerable<Proje008.Models.Projeler>
<body>
   
   
  
    <section class="page-header padding">
        <div class="container">
            <div class="page-content text-center">
                <h2>Project single</h2>
                <p>Construction & Building Html Template.</p>
            </div>
        </div>
    </section>
    <section class="project-single-section padding">
        <div class="container">
            @foreach (var item in Model.TakeLast(1))
	{
		 
	
            <div class="row project-single-wrap align-items-center">
                <div class="col-md-6 sm-padding">
                    <div id="project-single-carousel" class="project-single-carousel box-shadow owl-carousel">
                        <div class="single-carousel">
                            <img src="@("~/ProjelerResimleri/" +item.ResimYolu)"  alt="img" asp-append-version="true">
                        </div>
                        <div class="single-carousel">
                            <img src="@("~/ProjelerResimleri/" +item.ResimYolu1)" alt="img" asp-append-version="true">
                        </div>
                        <div class="single-carousel">
                            <img src="@("~/ProjelerResimleri/" +item.ResimYolu2)" alt="img" asp-append-version="true">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 sm-padding">
                    <div class="project-single-content">
                        <h2>@item.Baslik1</h2>
                        <p>@item.Aciklama</p>
                        <ul class="project-details">
                            
                            <li><span>YER</span>: @item.Yer</li>
                            <li><span>KATEGORİ</span>: @item.Kategori</li>
                            <li><span>PROJE YILI</span>: @item.KategoriYili</li>
                          
                        </ul>
                    </div>
                </div>
            </div>
            }
        </div>
    </section>
  
  
  
</body>

