@model IEnumerable<Proje008.Models.Hizmetlerimiz>

@{
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

   
</head>
<body>
<p>
    <a asp-action="Create">Ekle</a>
</p>
<table class="table table-bordered table-striped">
    @foreach (var item in Model)
    {
        <thead>


            <tr>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.ResimYolu)</th>
                <td>
                    <div class="gallerycontainer">
                        <a class="thumbnail" href="#thumb"><img src="@("~/HizmetlerimizResimleri/"+item.ResimYolu)" asp-append-version="true" width="100" height="66" border="0" /><span><img src="@("~/HizmetlerimizResimleri/"+item.ResimYolu)" asp-append-version="true" /><br />@*@Model*@</span></a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Baslik)</th>
                <td>@Html.DisplayFor(modelItem => item.Baslik)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(model => model.Aciklama)</th>
                <td>@Html.DisplayFor(modelItem => item.Aciklama )</td>
            </tr>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Detay</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
        </td>
        </tbody>
    }
</table>
</body>
</html>
